.textarea-auto {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.textarea-auto::placeholder {
  text-align: center;
  line-height: 80px; /* Ajusta este valor según el minHeight de tu textarea */
}

.textarea-auto:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}